@font-face {
    font-family: 'Anticva';
    src: url('../fonts/Anticva-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Norms';
    src: url('../fonts/TTNorms-Regular.woff2') format('woff2'),
        url('../fonts/TTNorms-Regular.woff') format('woff');
}