{% load static %}

<!DOCTYPE html>
<html>
    <head lang="ru">
        <title>Balance</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>

        <link rel="stylesheet" href="{% static 'css/slick.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/index/index.css' %}"/>
    </head>
    <body>
        <!--Top navigation bar-->
        <nav class="top_nav">
            <ul>
                <li>
                    <a id="about_btn">
                        <span>о марафоне</span>
                    </a>
                </li>
                <li>
                    <a id="rates_btn">
                        <span>тарифы</span>
                    </a>
                </li>
                <li>
                    <a id="quest_btn">
                        <span>вопросы</span>
                    </a>
                </li>
                <li>
                    <a id="sug_btn">
                        <span>ваши предложения</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:marafonfitobalance@gmail.com" id="email_btn">
                        <span>marafonfitobalance@gmail.com</span>
                    </a>
                </li>
            </ul>
            <button class="nav_btn">
                <div>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
        </nav>

        <header>
            <img src="{% static 'img/index/header_l.png' %}" class="bg_l"/>
            <div class="wrapper">
                <div class="mob_wrap">
                    <img alt="balance 3.0" src="{% static 'img/index/balance.png' %}"/>
                </div>
                <h2>Марафон фитосанации</h2>
                <div class="balance">
                    <img alt="balance 3.0" src="{% static 'img/index/balance.png' %}"/>
                    <h1>Баланс 3.0</h1>
                </div>
                <div class="line">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 913 36" fill="none">
                        <path opacity="0.5" d="M0.957031 35.158C122.698 18.2253 224.784 -1.06981 379.508 1.85742C462.042 3.41889 545.792 16.2134 615.852 24.5176C721.461 37.0353 842.549 26.5889 911.283 8.55696" stroke="#4E4F4A" stroke-width="1.59987" stroke-linecap="round"/>
                    </svg>
                </div>
                <div class="h3_wrap">
                    <h3>Фундамент здоровья человека - здоровый желудочно-кишечный тракт и микробиота</h3>
                </div>
                <div class="btn_wrap">
                    <button id="take_part_btn">Участвовать<br/>в марафоне</button>
                </div>
            </div>
            <img src="{% static 'img/index/header_r.png' %}" class="bg_r"/>
        </header>

        <main>
            <div class="main_wrap">
                <div class="for_who">
                    <div class="wrap">
                        <h2>ДЛЯ КОГО МАРАФОН?</h2>
                        <p>Большинство людей имеют признаки нарушения состава и функции микробиоты, обусловленные неправильным питанием, избытком простых углеводов, бесконтрольным применением антибиотиков и высоким уровнем стресса</p>
                    </div>
                    <img src="{% static 'img/index/for_who.png' %}"/>
                </div>
    
                <div class="danger">
                    <h4>Чем же так опасна неправильная работа кишечника и длительно существующий избыточный рост патогенной флоры?</h4>
                    <div class="list_wrap">
                        <p>Это приводит к:</p>
                        <ul>
                            <li>Снижению иммунитета, частым ОРВИ, хроническим рецидивирующим воспалительным заболеваниям (тонзиллиту, синуситу, цервициту, циститу и тд)</li>
                            <li>Лишнему весу</li>
                            <li>Дефициту массы тела</li>
                            <li>Задержке жидкости, отекам и развитию целлюлита</li>
                            <li>Патологической тяге к сладкому и мучному</li>
                            <li>Дефициту витаминов и минералов</li>
                            <li>Гормональному дисбалансу</li>
                            <li>Нарушениям сна</li>
                            <li>Перепадам настроения, повышенной тревоге</li>
                            <li>Хронической усталости</li>
                            <li>Развитию кожных заболеваний (атопический дерматит, витилиго, псориаз, экзема, себорея)</li>
                            <li>Склонности к акне и появлению воспалительных изменений на коже</li>
                            <li>Аномальной работе иммунных клеток и способствует развитию аутоиммунных и аллергических заболеваний (таких как АИТ, бронхиальная астма, склеродермия, ревматоидный артрит и тд)</li>
                            <li>Развитию разнообразных неврологическихи психических заболеваний (склонности к депрессии, деменции, болезни Альцгеймера и шизофрении)</li>
                        </ul>
                    </div>
                    <p class="add">Коррекция микробиоты, улучшение работы систем детоксикации и органов выделения, восстановление слизистой кишечника помогает организму избавиться от хронической интоксикации, ослабляющих его патогенов и включить процессы самооздоровления, которые в норме всегда присутствуют у здорового человека.</p>
                    <p class="add">В нашей врачебной практике мы очень часто используем программу фитосанации. Потому что после нормализации процессов пищеварения, усвоения и восстановления микробиоты у человека улучшается общее самочувствие и проходит большая часть жалоб.</p>
                    <p class="add">И дальше все наши лечебные стратегии при любых симптомах и заболеваниях, в том числе и восстановление дефицитов витаминов и минералов, на 40-60% более эффективны.</p>
                </div>

                <div class="contr">
                    <h2>Противопоказания к участию в марафоне</h2>
                    <p class="add">Острые заболевания и обострения хронических</p>
                    <p class="add">Онкологические заболевания. Период реабилитации не является противопоказанием</p>
                    <p class="add">Желчнокаменная болезнь</p>
                    <p class="add">Беременность и грудное вскармливание</p>
                </div>

                <div class="about" id="about">
                    <img src="{% static 'img/index/about.png' %}"/>
                    <h2>О Марафоне фитосанации 
                        <span>
                            <h2>Баланс 3.0</h2>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 196 5" fill="none">
                                <path opacity="0.5" d="M1 4C26.9444 2.48803 48.6999 0.765105 81.6733 1.02649C99.2622 1.16592 117.11 2.30838 132.041 3.04988C154.547 4.16762 180.352 3.23484 195 1.62471" stroke="#4E4F4A" stroke-width="0.50002" stroke-linecap="round"/>
                            </svg>
                        </span>
                    </h2>
                    <p>Марафон фитосанации «Баланс» - это трехэтапная программа нормализации процессов пищеварения и восстановления нормальной микробиоты кишечника.</p>
                    <div class="wrap">
                        <div class="row_wrap">
                            <div class="list_wrap">
                                <h3>1 этап - 1 неделя</h3>
                                <ul>
                                    <li>Налаживаем питьевой режим</li>
                                    <li>Запускаем работу органов выделения (печень, почки, кожа)</li>
                                    <li>Убираем продукты которые поддерживают рост патогенов и нагружают систему иммунитета</li>
                                    <li>Запускаем отток желчи</li>
                                    <li>Запускаем и разгружаем лимфатическую систему</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row_wrap">
                            <div class="list_wrap">
                                <h3>2 этап - 4 недели</h3>
                                <p>Это основной и самый важный этап программы</p>
                                <ul>
                                    <li>Угнетаем рост патогенной флоры, грибов, вирусов, паразитов с помощью натуральных горечей</li>
                                    <li>Проводим интенсивную работу с лимфооттоком и желчеоттоком, как основными путями выведения токсинов из организма</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row_wrap">
                            <div class="list_wrap">
                                <h3>3 этап - 4 недели</h3>
                                <ul>
                                    <li>Заживляем слизистую желудка, кишечника</li>
                                    <li>Поддерживаем обновление клеток желудочно-кишечного тракта</li>
                                    <li>Стимулируем рост нормальной микрофлоры</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="org">
                    <h2>организаторы марафона</h2>
                    <div class="wrap">
                        <div class="row_wrap">
                            <div>
                                <div class="img"></div>
                                <h3>александрова елена евгеньевна</h3>
                                <p>Врач акушер-гинеколог, специалист интегральной и привентивной медицины</p>
                                <div class="wrap_btn">
                                    <a href="https://домвитаминов.рф/balans" target="_blank">Узнать подробнее о враче</a>
                                </div>
                            </div>
                        </div>
                        <div class="row_wrap">
                            <div>
                                <div class="img"></div>
                                <h3>кашурникова надежда александровна</h3>
                                <p>Врач акушер-гинеколог, специалист интегральной и привентивной медицины</p>
                                <div class="wrap_btn">
                                    <a href="https://домвитаминов.рф/balans/#rec630832088" target="_blank">Узнать подробнее о враче</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="what_need">
                    <h2>ЧТО НУЖНО ДЛЯ УЧАСТИЯ В МАРАФОНЕ?</h2>
                    <p>Для участия в марафоне необходимо обязательно пройти или иметь на руках следующие обследования:</p>
                    <div class="wrap">
                        <div>
                            <span>Обший анализ крови (не старше 1 месяца)</span>
                        </div>
                        <div>
                            <span>Биохимический анализ крови - АЛТ, АСТ, общий билирубин, ГГТ, ЩФ (не старше 1 месяца)</span>
                        </div>
                        <div>
                            <span>УЗИ органов брюшной полости и почек (не старше 6 месяцев)</span>
                        </div>
                        <div>
                            <span>Покупка нутрицевтиков для прохождения фитосанации в течение 3 месяцев (их стоимость составит 10.000-11.000 рублей)</span>
                        </div>
                    </div>
                    <img src="{% static 'img/index/what_need_1.png' %}" class="what_need_1"/>
                    <img src="{% static 'img/index/what_need_2.png' %}" class="what_need_2"/>
                    <img src="{% static 'img/index/what_need_3.png' %}" class="what_need_3"/>
                </div>
            </div>
        </main>
        <div class="feedback">
            <div class="h2">
                <h2>отзывы</h2>
            </div>
            <div class="swiper">
                <div class="slide">
                    <div class="wrap">
                        <h4>Участница марафона</h4>
                        <p>Хочу поделиться своими результатами, - 5 кг, наконец-то стало получаться упражнение уддияна, прям чувствую мыщцы тазового дна, легкость в животе, уменьшилось вздутие. Диета в начале прям сложно далась, была сильная интоксикация.
                            Сейчас все норм, и диета диетой не кажется, с такими то рецептами. <br/>
                            Спасибо организаторам и всем участницам. Это ценный опыт и еще одна хорошая привычка в жизни и кстати муж за компанию был со мной на диете без нутрицевтиков, и
                            результат - 5кг</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="wrap">
                        <h4>Участница марафона</h4>
                        <p>Главный и самый удивительный для меня результат - это отсутствие тяги к сладкому.
                            Раньше это была наркомания: после каждого приёма пищи обязательно нужен был шоколад да побольше.
                            Сейчас от потребности осталась скорее психологическая привычка. Я планирую и дальше жить без сладкого, наконец-то обрела независимость от него.<br/>
                            Так же впервые поняла, что значит отсутствие дискомфорта В ЖКТ.<br/>
                            Очень жалею, что не взвесилась до марафона. Мой парень был со мной на диете, у него минус 5 КГ.</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="wrap">
                        <h4>Участница марафона</h4>
                        <p>Здравствуйте, у меня нормализовался стул, он стал ежедневным и иногда даже два раза в день (для меня это очень большое достижение). У меня лучше стала работать имунная система, потому как буквально предыдущей недели я заболела ОРВИ и я полностью выздоровела за 4 дня. У очень редко бывает изжога, раньше это было часто. Ещё я стала правильно питаться, три раза в день и чувствую, что для меня этого достаточно и что я не хочу сладости и другие вредные продукты. Я бы хотела выразить благодарность врачам за этот марафон, потому что я узнала многое интересной информации и благодаря изменила образ жизни в целом, не только питание.</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="wrap">
                        <h4>Участница марафона</h4>
                        <p>Лиля,добрый день, нашла время,заполнила опрос)
                            По результатам и ощущениям-писала подробный отзыв выше после второго этапа,все в целом осталось так же,вес,конечно, перестал уходить так активно,но удерживать достигнутого вполне удаётся.
                            <br/>Благодарю ещё раз наших докторов и Вас за знания и опыт, а также хорошо подготовленную программу оздоровления.<br/>
                            Обязательно буду проходить марафон снова и рекомендовать друзьям,спасибо</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="wrap">
                        <h4>Участница марафона</h4>
                        <p>В целом ещё хотя диета не слишком изменилась
                            положительные моменты уже есть.
                            Разнообразила меню, узнала новое про продукты и их влияние на организм. Думаю смогу задержатся на диете так как я стала для себя готовить :)
                            Ещё снова занялась своей печенью и вернулась К упражнениям, которые одно время забросила.
                            Тоже очень благородна организаторам за марафон!</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="wrap">
                        <h4>Участница марафона</h4>
                        <p>Доброе утро, Лилия, все отлично, почувствовала как улучшился метаболизм, избавилась от пищевых привычек молочку и глютен решила не включать больше в свой рацион.
                            Сахар употребляю, реакции на него нет, организм его с радостью принял, скучал. Без фанатизма. Со стороны ЖКТ УМЕНЬШИЛСЯ метеоризм и вздутие.... перекусы кстати тоже ушли из моей жизни. Борюсь с вечерним объеданиями.</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="wrap">
                        <h4>Участница марафона</h4>
                        <p>Доброе утро! Я себя чувствую очень хорошо. Много сил, лёгкое пробуждение по утрам. Нормализовался стул, регулярно утром.
                            У меня удален желчный и раньше я совсем не могла есть жирную пищу, сразу нарушался стул. Авокадо не ела несколько лет. Сейчас же спокойно ем, печень трески тоже и все в порядке. Когда начали пить псиллиум, было отсутствие аппетита несколько дней, но сейчас все нормально. Вес снизился немного. В общем все хорошо, спасибо огромное</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="wrap">
                        <h4>Участница марафона</h4>
                        <p>Доброе утро, Лилия! Чувствую себя сейчас хорошо) Но было угнетенное состояние в конце второго этапа, у себя держала из последних сил, чтобы не сорваться, не хватает мне выпечки, пирожков, пельменей, к сладкому более менее равнодушна стала.
                            В начале второго этапа наладился сон, чувствовала себя великолепно, вес пошёл на снижение. Но сейчас снова сбой со сном, вес пока остановился, очень хочу фрукты, но держусь по питанию.
                            Единственная радость, что с начала марафона всего за месяц -8 кг</p>
                    </div>
                </div>
                <div class="slide">
                    <div class="wrap">
                        <h4>Участница марафона</h4>
                        <p>Здравствуйте, чувствую себя хорошо. У меня появился стул ежедневно утром, для меня это очень большое достижение, так как ранее стул у меня был не каждый день. Единственно дня два сначала нормальной консистенции стул, а в конце опорожнения жидкий. Из положительных изменений - меня прекратилось вздутие в кишечникеии гораздо реже отрыжка.</p>
                    </div>
                </div>
            </div>
            <div class="btn">
                <div class="btn-prev"></div>
                <div class="btn-next"></div>
            </div>
        </div>

        <div class="rates" id="rates">
            <img src="{% static 'img/index/rates_1.png' %}" class="rates_1"/>
            <img src="{% static 'img/index/rates_2.png' %}" class="rates_2"/>
            <div class="rates-wrap">
                <h2>ТАРИФЫ</h2>
                <div class="wrap">
                    {% for rate in rates %}
                        <div class="card" data-rate-id="{{ rate.0 }}" data-rate-cost="{{ rate.1 }}" data-rate-name="{{ rate.2 }}">
                            <h3>{{ rate.2 }}</h3>
                            <div class="line-wrap">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 171 23" fill="none">
                                    <path opacity="0.5" d="M1.57715 21.9414C24.0426 11.4592 42.8809 -0.485404 71.4328 1.32669C86.6632 2.29332 102.118 10.2137 115.046 15.3544C134.535 23.1035 156.88 16.6367 169.563 5.47402" stroke="#4E4F4A" stroke-width="1.59987" stroke-linecap="round"/>
                                </svg>
                            </div>
                            <ul>
                                {% for el in rate.3 %}
                                    {% if el.1 == 'A' %}
                                        <li class="active">{{ el.0 }}</li>
                                    {% elif el.1 == 'U' %}
                                        <li class="unact">{{ el.0 }}</li>
                                    {% else %}
                                        <li class="active" style="visibility: hidden;">{{ el.0 }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <h3 class="cost">{{ rate.1 }} рублей</h3>
                            <div class="btn_wrap">
                                <button class="choose">Выбрать этот тариф</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="quest" id="quest">
            <div class="quest_wrap">
                <h2>Часто задаваемые вопросы</h2>
                <div class="q active">
                    <div class="top">
                        <span>Зачем сдавать анализы для прохождения марафона?</span>
                        <img src="{% static 'img/index/plus.png' %}" />
                    </div>
                    <div class="answ">
                        <span>Проанализировав необходимые обследования, мы сможем убедиться, что у вас нет противопоказаний к прохождению марафона. Ваше здоровье - наш приоритет! Обратите внимание - индивидуальная интерпретация анализов не входит в стоимость марафона!</span>
                        <div class="row"></div>
                    </div>
                </div>
                <div class="q">
                    <div class="top">
                        <span>Сначала оплата или анализы? Вдруг анализы покажут противопоказания?</span>
                        <img src="{% static 'img/index/plus.png' %}" />
                    </div>
                    <div class="answ">
                        <span>Вы оплачиваете стоимость участия в марафоне и сдаете анализы. Если по анализам будут выявлены противопоказания, то мы вернем вам оплату.</span>
                        <div class="row"></div>
                    </div>
                </div>
                <div class="q">
                    <div class="top">
                        <span>Могу ли я участвовать в марафоне, если я из другого города/страны?</span>
                        <img src="{% static 'img/index/plus.png' %}" />
                    </div>
                    <div class="answ">
                        <span>Да, конечно! На марафоне организована доставка всех необходимых компонентов программы по России и странам таможенного союза. Если вы из Европы/США/Австралии, то мы для вас составим индивидуальную программу с нутрицевтиками, которые можно купить в вашей стране.</span>
                        <div class="row"></div>
                    </div>
                </div>
                <div class="q">
                    <div class="top">
                        <span>Мне удобнее разбить оплату за нутрицевтики на части. Есть ли на марафоне рассрочка?</span>
                        <img src="{% static 'img/index/plus.png' %}" />
                    </div>
                    <div class="answ">
                        <span>Да, для удобства наших участников, оплата закупки нутрицевтиков может быть в рассрочку через сервис Робокасса.</span>
                        <div class="row"></div>
                    </div>
                </div>
                <div class="q">
                    <div class="top">
                        <span>Сколько всего затрат уйдет на марафон?</span>
                        <img src="{% static 'img/index/plus.png' %}" />
                    </div>
                    <div class="answ">
                        <span>Cтоимость участия в марафоне (5900 рублей/20000 рублей + анализы (примерно 5000 рублей) + нутрицевтики 10000-11000 рублей (+ доставка 250-600 рублей)</span>
                        <div class="row"></div>
                    </div>
                </div>
                <div class="q">
                    <div class="top">
                        <span>Сколько по времени идет программа марафона?</span>
                        <img src="{% static 'img/index/plus.png' %}" />
                    </div>
                    <div class="answ">
                        <span>Программа марафона состоит из 3-х этапов и длится в течение 2-х месяцев.</span>
                        <div class="row"></div>
                    </div>
                </div>
                <div class="q">
                    <div class="top">
                        <span>Сколько длится сопровождение превентивного врача в чате телеграм?</span>
                        <img src="{% static 'img/index/plus.png' %}" />
                    </div>
                    <div class="answ">
                        <span>2 месяца.</span>
                        <div class="row"></div>
                    </div>
                </div>
                <div class="q">
                    <div class="top">
                        <span>Я боюсь, что я не справлюсь с диетой</span>
                        <img src="{% static 'img/index/plus.png' %}" />
                    </div>
                    <div class="answ">
                        <span>На марафоне мы сделали всё для того, чтобы этого не случилось. Вам будут предложены рецепты блюд из разрешенных продуктов, с которыми вы не будете чувствовать бремя диеты. Также вы получите ответы на свои вопросы и поддержку от сообщества единомышленников.</span>
                        <div class="row"></div>
                    </div>
                </div>
                <div class="q">
                    <div class="top">
                        <span>Сколько времени в неделю мне нужно уделять марафону?</span>
                        <img src="{% static 'img/index/plus.png' %}" />
                    </div>
                    <div class="answ">
                        <span>тюбаж - 40 минут - 1 раз в неделю<br>ванна с английской солью - 30 минут - 1-2 раза в неделю<br>тренировка - 30 минут - 2 раза в неделю<br>прямой эфир - 1 час - в начале и конце марафона<br>изучить материалы по компонентам программы - 30 минут<br>изучить диету и меню - 1 час</span>
                        <div class="row"></div>
                    </div>
                </div>
                <div class="q">
                    <div class="top">
                        <span>Что за тренировки на марафоне? Я плохо физически подготовлена.</span>
                        <img src="{% static 'img/index/plus.png' %}" />
                    </div>
                    <div class="answ">
                        <span>Тренировки на марафоне направлены на работу с лимфой и расслабление, поэтому вам не о чем волноваться! Правильную технику выполнения будет показывать фитнес-тренер, специалист технологии здорового фитнеса.</span>
                        <div class="row"></div>
                    </div>
                </div>
                <div class="q">
                    <div class="top">
                        <span>Я хочу участвовать с мужем/подругой</span>
                        <img src="{% static 'img/index/plus.png' %}" />
                    </div>
                    <div class="answ">
                        <span>Если вы планируете проходить марафон вдвоем , то стоимость марафона будет 11000 рублей за двоих (ваша экономия составит 800 рублей), нутрицевтическую поддержку, каждый покупает индивидуально, а также, каждому участнику необходимо будет сдать анализы для выявления возможных противопоказаний</span>
                        <div class="row"></div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="wrap">
                <div>
                    <h3>Марафон фитосанации «Баланс»</h3>
                    <span>
                        ИП Александрова Елена Евгеньевна
                    </span>
                    <span>
                        ИНН 423006447740
                    </span>
                    <span>
                        ОГРИНП 321547600111292
                    </span>
                    <span>
                        e-mail: prokopyevaee@gmail.com
                    </span>
                </div>
                <img src="{% static 'img/index/balance.png' %}" />
                <div>
                    <a class="mail" href="mailto:marafonfitobalance@gmail.com">marafonfitobalance@gmail.com</a>
                    <a href="{% url 'privacy_policy' %}" target="_blank">Политика конфиденциальности</a>
                    <a href="{% url 'public_offer' %}" target="_blank">Политика оферты</a>
                </div>
            </div>
        </footer>

        <div class="suggestions">
            <div class="wrap">
                <div class="close">
                    <img src="{% static 'img/index/cross.png' %}"/>
                </div>
                <div class="row">
                    <div class="img">
                        <img src="{% static 'img/index/suggest.png' %}" />
                    </div>
                    <h3>напишите о своем предложении нам, и мы дадим обратную связь</h3>
                    <form method="post" action="/suggestions/">
                        {% csrf_token %}
                        <input type="text" name="name" placeholder="Ваше имя" required/>
                        <input type="email" name="email" placeholder="Ваш email" required/>
                        <input type="tel" name="tel" placeholder="Ваш номер" required pattern="^\+?[0-9]{9,14}$"/>
                        <textarea name="text" required></textarea>
                        <button type="submit">отправить</button>
                    </form>
                    <span>Все права защищены в соответсвии с <a href="{% url 'privacy_policy' %}" target="_blank">политикой конфиденциальности</a></span>
                </div>
            </div>
        </div>

        <div class="cart">
            <div class="wrap">
                <div class="row">
                    <div class="close">
                        <img src="{% static 'img/index/cross.png' %}"/>
                    </div>
                    <div class="rate">
                        <div class="choose">
                            <pre>Тариф: </pre>
                            <h3></h3>
                        </div>
                        <div class="cost">
                            <span class="cost"></span>
                            <img src="{% static 'img/index/plus.png' %}"/>
                        </div>
                    </div>
                    <form method="POST" action="/buy/">
                        {% csrf_token %}
                        <input type="text" name="name" placeholder="Ваше имя" required/>
                        <input type="email" name="email" placeholder="Ваш email" required/>
                        <input type="tel" name="tel" placeholder="Ваш номер" required pattern="^\+?[0-9]{9,14}$"/>
                        <input hidden type="number" name="id_rate" id="id_rate" value=""/>
                        <span>Итоговая сумма</span>
                        <span class="sum"></span>
                        <button type="submit">Подтвердить заказ</button>
                    </form>
                    <span>Нажимая на кнопку, вы соглашаетесь на обработку своих персональных данных в соответствии с <a href="{% url 'public_offer' %}" target="_blank">договором оферты</a> и <a href="{% url 'privacy_policy' %}" target="_blank">политикой конфиденциальности</a></span>
                </div>
            </div>
        </div>

        <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
        <script src="{% static 'js/slick.min.js' %}"></script>
        <script src="{% static 'js/index/index.js' %}"></script>
    </body>
</html>